asttokens==2.4.1
beautifulsoup4==4.12.3
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.0.1
importlib_metadata==8.2.0
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.4
jsonpickle==3.2.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
networkx==3.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pip==24.2
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyvis==0.3.1
setuptools==72.1.0
six==1.16.0
soupsieve==2.5
stack-data==0.6.2
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
wheel==0.44.0
zipp==3.19.2
